table {
    font-size: 1.2rem;
    width: 70vw;
    border-radius: 10px;
    border: 0.25px solid rgba(240, 131, 47, 0.3);
    background-color: rgba(240, 131, 47, .5);


    & th, td{
        padding: 8px;
        text-align: center;
        &:last-child{
            color: red;
        }
    }
}
